.h2contacto{
    padding: 50px;
}

.legend_titu{
    margin-top: 40px;
}

.contactop {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 50px;
}

.etiqueta{
    padding: 15px;
    display: flex;
    
}

.tick{
    margin-left: 4px;
}

.div_env_lim{
    margin-top: 80px;
}

.env_lim{
    margin: 5px;
}