.h1contacto{
    padding: 50px;
}

.legend_titu{
    margin-top: 85px;
}

.contactop {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 30px;
}

.etiqueta{
    padding: 5px;
}

.tick{
    margin-left: 4px;
}

.div_env_lim{
    margin-top: 50px;
}

.env_lim{
    margin-bottom: 20px
}