#mainfaq {
    background-image: url(../images/faqfondo.jpeg);
}

.h2faq {
    text-align: center;
    font-size: 32px;
    font-style: oblique;
    color: ivory;
}

.pfaq {
    font-size: 20px;
    font-style: inherit;
    color: burlywood;
}