.h1productos{
    padding: 50px;
}

#tablaproductos {
    text-align: center;
}

.contactop{
    font-size: 30px;
    margin-left: 200px;
}

.eleccion{
    margin-left: 300px;
    padding: 60px;
}

.individual{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.button{
    margin-right: 700px;
}