/* Conceptos Generales */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
}

/* Header Index */
header{
    background-color: black;
    width: 100%;

}

header nav ul{
    display: flex;
    justify-content: right;
    padding-right: 130px;
    list-style-type: none;
}

header nav ul li{
    text-decoration: none;
    padding: 40px 60px;
}

header nav ul li a{
    text-decoration: none;
    color: darkgrey;
}

header nav ul li a:hover{
    color: white;
}

/* Main */

main {
    background-color: antiquewhite;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 50;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 150px;
}

h2 {
    font-size: 60px;
}


p {
    list-style-type: none;
    font-size: 15px;
    font-weight: 60px;
}

.imagen_iphone{
    min-width: 100px;
    min-height: 200px;
}

.col-12{
    padding-bottom: 50px;
}

main h2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    color: darkslateblue;
    font-weight: 300;
    font-size: 35px;
}

main section div p{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
    max-width: 85%;
}

.card-text{
    font-size: 15px;
}

.card{
    min-width: 420px;
    min-height: 400px;
    
}

/* Footer General*/

footer {
    background-color: silver; 
}

#footerContenidos1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

#footerContenidos2{
    display:flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding-bottom: 70px;
}

.irArriba{
    text-decoration: none;
    font-size: 18px; 
    color: darkgray;
    background-color: black;
    margin-bottom: 30px;
    border-radius: 7px;
}

.irArriba:hover{
    color: white;
}

/* Contacto */

.h2contacto{
    padding: 50px;
}

.legend_titu{
    margin-top: 40px;
}

.contactop {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 50px;
}

.etiqueta{
    padding: 15px;
    display: flex;
    
}

.tick{
    margin-left: 4px;
}

.div_env_lim{
    margin-top: 80px;
}

.env_lim{
    margin: 5px;
}

/* Productos */
#tablaproductos {
    text-align: center;
}

/* FAQ */

#mainfaq {
    background-image: url(../images/faqfondo.jpeg);
}

.h2faq {
    text-align: center;
    font-size: 32px;
    font-style: oblique;
    color: ivory;
}

.pfaq {
    font-size: 20px;
    font-style: inherit;
    color: burlywood;
}


/* Sobre Nosotros */

.titulo_nosotros{
padding: 50px;
}

.h2_sobrenosotros {
    font-size: 30px;
    padding: 50px;
}

.texto_nosotros{
font-size: 20px;
padding: 40px;
}

.carousel-item{
    width: 800px;
    margin-left: 28%;
    padding: 50px;
}