footer {
    background-color: silver;
}

#footerContenidos1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

#footerContenidos2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding-bottom: 70px;
}

.irArriba {
    text-decoration: none;
    font-size: 18px;
    color: darkgray;
    background-color: black;
    margin-bottom: 30px;
    border-radius: 7px;

    .irArriba:hover {
        color: white;
    }
}